<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ site.description }}" />
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" />

    <!-- Personnalisation CSS -->
    <link rel="stylesheet" href="/css/main.css">
    
    <!-- mise en valeur syntaxe CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        
    <!-- OpenID - delegation IndieAuth --> 
       	<link rel="openid.server" href="https://indieauth.com/openid"/>
		<link rel="openid.delegate" href="http://christopheducamp.com/"/>

		<!-- indieauth sms + e-mail google -->
		<link href="sms:+33632039796" rel="me">
		<link class="u-email" href="mailto:christophe.ducamp@gmail.com" rel="me">
		
		<!-- icone  -->
        <link rel="shortcut icon" href="/logo.jpg" />
         <meta name="mobile-web-app-capable" content="yes" />
         <link rel="apple-touch-icon-precomposed" href="/logo.jpg" />

       <!-- webmention.herokuapp.com -->
       <link rel="webmention" href="https://webmention.herokuapp.com/api/webmention" />
       
       
       <!--OAuth endpoint-->
       <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
       <!--Token endpoint-->
       <link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
       <!-- micropub endpoint 
       <link rel="micropub" href="https://ugitpub.herokuapp.com/micropub" />
       -->


</head>
