<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- mise en valeur syntaxe CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- CSS personnalisee -->
        <link rel="stylesheet" href="/css/main.css">
        
        <!-- OpenID - delegation IndieAuth --> 
       	<link rel="openid.server" href="https://indieauth.com/openid"/>
		<link rel="openid.delegate" href="http://christopheducamp.com/"/>

		<!-- indieauth sms + e-mail google -->
		<link href="sms:+33632039796" rel="me">
		<link class="u-email" href="mailto:christophe.ducamp@gmail.com" rel="me">


       <link rel="shortcut icon" href="/logo.jpg" />
         <meta name="mobile-web-app-capable" content="yes" />
         <link rel="apple-touch-icon-precomposed" href="/logo.jpg" />

       <!-- webmention.herokuapp.com -->
       <link rel="webmention" href="https://webmention.herokuapp.com/api/webmention" />


    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">accueil</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p class="h-card">
                <span class="microcard"><img class="u-photo" src="/logo.jpg" alt="photo de @mikiane" /><a class="u-url" rel="me" href="http://christopheducamp.com">Christophe Ducamp</a></span><br />
                <span class="p-note">Explorateur Indieweb</span><br />
                <a rel="me" class="u-email" href="mailto:xtof@myadatalabs.com">xtof@mydatalabs.com</a>
              </p>
            </div>
            <div class="contact">
              <p>
                <a rel="me" href="https://github.com/ChristopheDucamp">github.com/ChristopheDucamp</a><br />
                <a rel="me" href="https://twitter.com/xtof_fr">twitter.com/xtof_fr</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
